<div>
  <button (click)="openModal('add-cup-modal')">Add Cup Data</button>
</div>

<div *ngIf="cupsData">
  <div *ngFor="let cup of cupsData">
    Name: {{cup.name}}
    Type: {{cup.type}}
    Action: {{cup.action}}
    <button (click)="retriveCupDataOnForm(cup)">Edit</button>
    <button (click)="deleteCupData(cup)">Delete</button>
  </div>
</div>

<my-modal id="add-cup-modal">
  <h2>Add Cup</h2>
  <div *ngIf="error">{{error}}</div>
  <form [formGroup]="addForm" (ngSubmit)="onAddSubmit()">
    <div class="form-group">
      <label for="cupName">Cup Name</label>
      <input #cupName type="text" formControlName="cupName" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && formAddFields.cupName.errors }" />
      <div *ngIf="submitted && formAddFields.cupName.errors" class="invalid-feedback">
        <div *ngIf="formAddFields.cupName.errors.required">Cup Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="cupType">Type</label>
      <select formControlName="cupType" [ngClass]="{ 'is-invalid': submitted && formAddFields.cupType.errors }">
        <option value="0" disabled>--Select---</option>
        <option value="1">Coffee</option>
        <option value="2">Water</option>
        <option value="3">Green Tea</option>
        <option value="4">Regular Tea</option>
      </select>
      <div *ngIf="submitted && formAddFields.cupType.errors" class="invalid-feedback">
        <div *ngIf="formAddFields.cupType.errors.required">Must Select Cup Drink Type !</div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Add</button>
      <img *ngIf="loading" class="pl-3"
        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
  </form>
  <button (click)="closeModal('add-cup-modal');">Close</button>
</my-modal>

<my-modal id="edit-cup-modal">
  <h2>Edit Cup</h2>
  <div *ngIf="error">{{error}}</div>
  <form [formGroup]="editForm" (ngSubmit)="onEditSubmit()">
    <div class="form-group">
      <label for="cupEditName">Cup Name</label>
      <input #cupEditName type="text" formControlName="cupEditName" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && formEditFields.cupEditName.errors }" />
      <div *ngIf="submitted && formEditFields.cupEditName.errors" class="invalid-feedback">
        <div *ngIf="formEditFields.cupEditName.errors.required">Cup Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="cupType">Type</label>
      <select formControlName="cupType" [ngClass]="{ 'is-invalid': submitted && formEditFields.cupType.errors }">
        <option value="0" disabled>--Select---</option>
        <option value="1">Coffee</option>
        <option value="2">Water</option>
        <option value="3">Green Tea</option>
        <option value="4">Regular Tea</option>
      </select>
      <div *ngIf="submitted && formEditFields.cupType.errors" class="invalid-feedback">
        <div *ngIf="formEditFields.cupType.errors.required">Must Select Cup Drink Type !</div>
      </div>
    </div>
    <div class="form-group">
      <label for="cupAction">Type</label>
      <select formControlName="cupAction">
        <option value="1">Empty</option>
        <option value="2">Fill</option>
        <option value="3">Full</option>
        <option value="4">Drink</option>
        <option value="5">Throw</option>
      </select>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Edit</button>
      <img *ngIf="loading" class="pl-3"
        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
  </form>
  <button (click)="closeModal('edit-cup-modal');">Close</button>
</my-modal>