<!--
  Renders Cups Dashboard component
  Responsibilities:
    Renders all the Cup Data with current stats
    Renders Modal to Add Cup Data
    Renders Modal to Edit Cup Data
-->
<div class="cup-dashboard mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Cups Info</h2>
  </div>
  <div class="mdl-card__supporting-text" *ngIf="!cupsData || !cupsData.length">
      Click "+" to add new Cup
  </div>
  <ul class="mdl-list">
    <li *ngIf="cupsData && cupsData.length" class="cupHeader">
      <span>Name</span>
      <span>Type</span>
      <span>Action</span>
    </li>
    <li *ngFor="let cup of cupsData; trackBy: trackByCups" class="mdl-list__item mdl-list__item--three-line">
      <app-cups-card [cupData]="cup" (onCupAction)="onCupActionChange($event)"
        (onRetrieveCupData)="retriveCupDataOnEdit($event)" (onDeleteCupData)="deleteCupData($event)">
      </app-cups-card>
    </li>
    <button (click)="openModal('add-cup-modal')"
      class="add-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--primary">
      <i class="material-icons">add</i>
    </button>
  </ul>
</div>

<!-- Add Modal -->
<my-modal id="add-cup-modal">
  <h4 class="mdl-dialog__title">Add Cup</h4>
  <div class="mdl-dialog__content">
    <div *ngIf="error">{{error}}</div>
    <form [formGroup]="addForm" (ngSubmit)="onAddSubmit()">
      <div class="mdl-textfield mdl-js-textfield">
        <label for="cupName">Cup Name</label>
        <input #cupName type="text" formControlName="cupName" class="mdl-textfield__input"
          [ngClass]="{ 'is-invalid': submitted && formAddFields.cupName.errors }" />
        <span class="mdl-textfield__error"
          *ngIf="submitted && formAddFields.cupName.errors && formAddFields.cupName.errors.required">Cup Name is
          required</span>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label for="cupType">Type</label>
        <select class="mdl-textfield__input" formControlName="cupType"
          [ngClass]="{ 'is-invalid': submitted && formAddFields.cupType.errors }">
          <option value="0" disabled>--Select---</option>
          <option *ngFor="let drink of drinkTypeLabels; let i='index'" [value]="i+1">
            {{drink}}
          </option>
        </select>
        <span class="mdl-textfield__error"
          *ngIf="submitted && formAddFields.cupType.errors && formAddFields.cupType.errors.required">Must Select Cup
          Drink
          Type !</span>
      </div>
      <button [disabled]="loading" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Add</button>
    </form>
  </div>
  <div class="mdl-dialog__actions">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
      (click)="closeModal('add-cup-modal');">Close</button>
  </div>
</my-modal>

<!-- Edit Modal -->
<my-modal id="edit-cup-modal">
  <h4 class="mdl-dialog__title">Edit Cup</h4>
  <div class="mdl-dialog__content">
    <div *ngIf="error">{{error}}</div>
    <h4>ID: {{editId}}</h4>
    <form [formGroup]="editForm" (ngSubmit)="onEditSubmit()">
      <div class="mdl-textfield">
        <label for="cupEditName">Cup Name</label>
        <input #cupEditName type="text" formControlName="cupEditName" class="mdl-textfield__input"
          [ngClass]="{ 'is-invalid': submitted && formEditFields.cupEditName.errors }" />
        <span class="mdl-textfield__error"
          *ngIf="submitted && formEditFields.cupEditName.errors && formEditFields.cupEditName.errors.required">Cup Name
          is
          required</span>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label for="cupType">Type: </label>
        <select class="mdl-textfield__input" formControlName="cupType"
          [ngClass]="{ 'is-invalid': submitted && formEditFields.cupType.errors }">
          <option value="0" disabled>--Select---</option>
          <option *ngFor="let drink of drinkTypeLabels; let i='index'" [value]="i+1">
            {{drink}}
          </option>
        </select>
        <span class="mdl-textfield__error"
          *ngIf="submitted && formEditFields.cupType.errors && formEditFields.cupType.errors.required">Must Select Cup
          Drink Type !</span>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label for="cupAction">Action: </label>
        <select class="mdl-textfield__input" formControlName="cupAction">
          <option *ngFor="let action of cupActionLabels; let i='index'" [value]="i+1">
            {{action}}
          </option>
        </select>
      </div>
      <button [disabled]="loading" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Edit</button>
    </form>
  </div>
  <div class="mdl-dialog__actions">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
      (click)="closeModal('edit-cup-modal');">Close</button>
  </div>
</my-modal>