<div class="cups mdl-list__item-primary-content">
  <i class="material-icons mdl-list__item-avatar">person</i>
  <span>{{cupData.name}}</span>
  <span>Type: {{cupData.type}}</span>

  <span>
    <select name="cupActionOnPage" (change)="onCupActionChange($event.target.value, cupData)">
      <option
        *ngFor="let action of cupActionLabels; let i='index'"
        [value]="i+1"
        [attr.selected]="cupData.action == i+1 ? 'selected': null">
        {{action}}
      </option>
    </select>
  </span>
  <span>
    <button (click)="retriveCupDataOnEdit(cupData)"
      class="mdl-button mdl-js-button mdl-button--mini-fab mdl-js-ripple-effect mdl-button--primary">
      <i class="material-icons">edit</i>
    </button>
  </span>
  <span>
    <button (click)="deleteCupData(cupData)"
      class="mdl-button mdl-js-button mdl-button--mini-fab mdl-js-ripple-effect mdl-button--primary">
      <i class="material-icons">delete</i>
    </button>
  </span>
</div>