<!--
  Renders Login component
-->
<div class="login mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Login</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <span *ngIf="error" class="mdl-textfield__error">{{error}}</span>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mdl-textfield mdl-js-textfield">
        <input type="text" formControlName="username" class="mdl-textfield__input" placeholder="Username*" />
        <span *ngIf="submitted && formFields.username.errors && formFields.username.errors.required"
          class="mdl-textfield__error">
          Username is required
        </span>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <input type="password" formControlName="password" class="mdl-textfield__input" placeholder="Password*" />
        <span *ngIf="submitted && formFields.password.errors && formFields.password.errors.required"
          class="mdl-textfield__error">
          Password is required
        </span>
      </div>
      <div>
        <button [disabled]="loading"
          class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Login</button>
        <a routerLink="/register" class="mdl-button mdl-js-button mdl-button--primary">Register</a>
        <div *ngIf="loading" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
      </div>
    </form>
  </div>
</div>